<li>
  {{#if isStoryShowing}}
    <h2 {{action 'storyHide'}}>{{content.title}}</h2>
    <img src={{content.picture}} alt="" {{action 'storyHide'}}>
  {{else}}
    <h2 {{action 'storyShow'}}>{{content.title}}</h2>
    <img src={{content.picture}} alt="" {{action 'storyShow'}}>
  {{/if}}

  <h3> Article By: {{content.author}} </h3>
  {{#if isStoryShowing }}
    <p>{{content.body}}</p>
  {{/if}}
</li>
