{{#if isStoryShowing}}
  <div class='col-md-4'>
    <img src={{content.picture}} alt="" {{action 'storyHide'}}>
    <div class='title-well' {{action 'storyHide'}}>{{content.title}}<br>By: {{content.author}}</div>
    <pre>{{content.body}}</pre>
  </div>
{{else}}
  <div class='col-md-4'>
    <img src={{content.picture}} alt="" {{action 'storyShow'}}>
    <div class='title-well' {{action 'storyShow'}}>{{content.title}}<br>By: {{content.author}}</div>
  </div>
{{/if}}
